@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

header {
    width: 100%;
    height: 15vh;

    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: #1c92f3;
    color: white;
    
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 2px;
}

header nav {
    display: flex;
    align-items: center;
    background-color: #f7f7f7;
    height: 100%;
}

header nav a {
    color: black;
    text-decoration: none;
    margin-left: 20px;
}

header nav a:hover {
    color: #1c92f3;
}

main {
    position: relative;
    width: 100%;
    height: 75vh;
    background-color: #3843aa;
    color: white;
}

/* --------------------------------------- CONFIGURAÇÃO - IMAGEM DE FUNDO ---------------------------- */

main #background-image {
    width: 100%;
    height: 100%;

    background-image: url('/Css/aula005/exercicio/assets/Imagens/TheWalkingDead.jpg');
    background-position: center bottom;
    background-repeat: no-repeat;
    filter: opacity(80%);
}

/* ----------------------------- CONFIGURAÇÃO - CONTAINER SINOPSE E IMAGEM --------------------------- */

#container-position {
    position: absolute;
    top: 5%;
    left: 5%;
}

#container-position ul, p {
    font-size: 1.1em;
}


#container-position article {
    width: 100%;
    display: flex;
    align-items: center;
}

#container-position article #sinopse {  /* CONTEINER - SINOPSE (PARTE BRANCA) */
    width: 700px;
    margin-top: 20px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    color: black;
    border-radius: 10px;
}

article #sinopse h2 {
    font-size: 2em;
    color: #1c92f3;
    text-align: center;
}

article #sinopse p {
    text-align: justify;
    margin-bottom: 20px;
}

article #sinopse ul li {
    list-style: inside;
}

#container-position figure {  /* CONTEINER - FIGURE & IMAGEM */
    margin-left: 30px;
    border: 3px solid rgb(232, 227, 247);
    background-color: white;
}

#container-position figure img {
    border-bottom: 3px solid rgba(0, 0, 0, 0.603);
}

#container-position figure figcaption {
    text-align: center;
    color: black;
}

/* --------------------------------------- CONFIGURAÇÃO - FOOTER ---------------------------- */

footer {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1c92f3;
}
