body {
    background-color: #d1cfb8;
    font-family: 'Roboto', sans-serif;
    margin: 10;
}

section {
    background-color: rgb(153, 151, 135);
    border-radius: 10px;

    width: 600px;
    padding: 10px;
}

h2 {
    background-color: hsl(54, 8%, 26%);
    color: #d1cfb894;

    padding-left: 10px;
}

p {
    text-shadow: 1px 1px 1px #00000027;
    text-indent: 9px;
}

footer {
    background-color: #8f8d7d;
}

footer p {
    line-height: 50px;
    text-align: center;
    height: 50px;
    color: #20201c;
    font-weight: bold;
}