@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header {
    height: 100vh;
    width: 100%;

    position: relative;
    background-color: rgb(73, 46, 148);
}

/* ---------------------- BACKGROUND HEADER -----------------------*/

header > .imagem-header {
    height: 100%;
    width: 100%;

    background-image: url('../Imagens/background-header.jpg');
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: cover;
    filter: opacity(30%);
}

header > .position {  /* posicionando itens em cima da imagem de fundo */
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
}

/* ---------------------- NAVEGAÇÃO MENU - HEADER --------------------*/

header > .position > nav {
    width: 100%;
    height: 10%;
    font-size: 10px;
    background-color: #bd9ed634;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.position > nav > .navLogo-Header > h3 {
    font-size: 2em;
    color: white;
}

nav > .navLink-Header > a {
    margin-right: 30px;
    padding: 10px 20px;
    
    color: white;
    text-decoration: none;
    font-size: 1.8em;
    font-weight: bold;

}

nav > .navLink-Header > a:hover { /* pseudo-classe, quando passar o mouse em cima, algo acontece. */
    color: rgb(166, 163, 196);
}

/* ---------------------- TEXTO HEADER -----------------------*/

header .position > .header-flex {
    width: 100%;
    height: 90%;
    font-size: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-flex > .texto-header {
    width: 600px;

    color: white;
    text-align: center;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.692);
}

.texto-header > h1 {
    font-size: 5em;
    line-height: 1;
}

.texto-header > h2 {
    margin-bottom: 40px;
    font-size: 4em;

    color: rgb(215, 252, 5);
}

/* ---------------------- BOTÃO HEADER -----------------------*/

header > .position > .header-flex > .btn-header {
    font-size: 10px;

    width: 38%;
    display: flex;
    justify-content: space-between;
}

.btn-header > a {
    margin-left: 20px;
    padding: 10px 20px;

    font-size: 1.8em;
    font-weight: bold;
    text-decoration: none;

    background-color: rgba(73, 46, 148, 0.753);
    color: white;

    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
}

.btn-header > a:hover {
    background-color: rgba(43, 43, 43, 0.836);
}

/* ---------------------- MAIN -----------------------*/